/* General */

:root {
  --main:#3e64ff
}

body {
  font-family: "Poppins", sans-serif;
  opacity: 0;
  transition: opacity 5s ease;
}

body.visible {
  opacity: 1;
}

a {
  text-decoration: none;
  color: var(--main);
  font-weight: bold;
  cursor: pointer;
}

[hidden] {
	display: none!important;
}

.text-center {
	text-align: center!important;
}

/* Language Switcher */

.language-switch {
    padding: 10px;
}

.lang-text {
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.lang-text.on {
    color: var(--main);
}

.lang-text.off {
    color: black;
}

@media(max-width: 991.98px){
	.lang-text.off.top-scroll {
		color: white;
	}
}

.toggle-container {
    position: relative;
    height: 25px;
    width: 50px;
    background-color: #EBEFFF;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.toggle-slider {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--main);
    border-radius: 50%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#language-toggle {
    visibility: hidden;
}

#language-toggle:checked + .toggle-slider {
    transform: translateX(25px);
    background-color: var(--main);
}

/* Blog Article */

.articleContainer h2{
	color: var(--main);
}

.titleCenter {
    font-size: 40px;
    color: var(--main);
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 25px;
}

.secondTitle {
    font-style: italic;
    margin-bottom: 20px;
}

#qrcode {
	max-width: 15vw;
}

#inpi-process {
    width: 100%;
    min-width: 20%;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(15, 41, 48, .05);
}

#mcs-design, #mcs-example{
	max-width: 70vw;
	margin-bottom: 15px;
}

/* README or Article */

.read-zone {
	max-width: 50%;
	margin: 2rem auto;
}

.read-title {
	display:flex;
	align-items:center;
	justify-content:space-between;
}

/* Video */

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}
  
.video-wrapper video {
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
}

/* 404 */

#astronaut {
	position: absolute;
	top: 50%;
	right: 15%;
	animation: rotate-astronaut 200s infinite linear both alternate;
	width: 70px;
}

#earth {
	position: absolute;
	top: 50%;
	left: 25%;
	width: 200px;
}

#moon {
	position: absolute;
	top: 30%;
	left: 15%;
	width: 100px;
}

#rocket {
	position: absolute;
	transform: translateX(-50px);
	top: 75%;
	pointer-events: none;
	animation: rocket-movement 200s linear infinite both running;
	width: 100px;
	z-index: 1;
}

@-moz-keyframes rotate-astronaut {
	100% { -moz-transform: rotate(-720deg);}
}

@-webkit-keyframes rotate-astronaut {
	100% { -webkit-transform: rotate(-720deg);}
}

@keyframes rotate-astronaut {
	100% { -webkit-transform: rotate(-720deg); transform:rotate(-720deg);}
}

@-moz-keyframes rocket-movement { 
	100% { -moz-transform: translate(400px,-100px);} 
}

@-webkit-keyframes rocket-movement {
	100% { -webkit-transform: translate(400px,-100px);} 
}

@keyframes rocket-movement { 
	100% { transform: translate(400px,-100px);} 
}
