/* General */

:root {
  --main:#3e64ff
}

body {
  font-family: Poppins, sans-serif;
  opacity: 0;
  transition: opacity 5s ease;
}

body.visible {
  opacity: 1;
}

a {
  text-decoration: none;
  color: var(--main);
  font-weight: bold;
  cursor: pointer;
}

a[href="#"] {
	cursor: default;
}

table {
	border-collapse: collapse;
	border-width: 1px;
}

th, td {
	text-align: center;
	color: var(--dark);
	font-size: 14px;
}

td strong {
	color: var(--main);
}

sup {
	background-color: var(--dark);
	color: var(--white);
	font-size: 10px;
    padding: 4px;
    margin: 2px;
	top: -16px!important;
}

sup:hover {
	background-color: var(--main);
}

[hidden] {
	display: none!important;
}

.text-center {
	text-align: center!important;
}

/* Language Switcher */

.language-switch {
    padding: 10px;
}

.lang-text {
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.lang-text.on {
    color: var(--main);
}

.lang-text.off {
    color: black;
}

@media(max-width: 991.98px){
	.lang-text.off.top-scroll {
		color: white;
	}
}

.toggle-container {
    position: relative;
    height: 25px;
    width: 50px;
    background-color: #EBEFFF;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.toggle-slider {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--main);
    border-radius: 50%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#language-toggle {
    visibility: hidden;
}

#language-toggle:checked + .toggle-slider {
    transform: translateX(25px);
    background-color: var(--main);
}

/* Blog Article */

.article-container h2{
	color: var(--main);
}

.title-center {
    font-size: 40px;
    color: var(--main);
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 25px;
}

.second-title {
    font-style: italic;
    margin-bottom: 20px;
}

#qrcode {
	max-width: 15vw;
}

#inpi-process {
    width: 100%;
    min-width: 20%;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(15 41 48 / 5%);
}

#mcs-design, #mcs-example{
	max-width: 70vw;
	margin-bottom: 15px;
}

/* Project or Article */

.read-zone {
	max-width: 50%;
	margin: 2rem auto;
}

.read-title {
	display:flex;
	align-items:center;
	justify-content:space-between;
}

/* Video */

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}
  
.video-wrapper video {
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
}

/* 404 */

#astronaut {
	position: absolute;
	top: 50%;
	right: 15%;
	animation: rotate-astronaut 200s infinite linear both alternate;
	width: 70px;
}

#earth {
	position: absolute;
	top: 50%;
	left: 25%;
	width: 200px;
}

#moon {
	position: absolute;
	top: 30%;
	left: 15%;
	width: 100px;
}

#rocket {
	position: absolute;
	transform: translateX(-50px);
	top: 75%;
	pointer-events: none;
	animation: rocket-movement 200s linear infinite both running;
	width: 100px;
	z-index: 1;
}

@-moz-keyframes rotate-astronaut {
	100% { -moz-transform: rotate(-720deg);}
}

@-webkit-keyframes rotate-astronaut {
	100% { -webkit-transform: rotate(-720deg);}
}

@keyframes rotate-astronaut {
	100% { transform:rotate(-720deg);}
}

@-moz-keyframes rocket-movement { 
	100% { -moz-transform: translate(400px,-100px);} 
}

@-webkit-keyframes rocket-movement {
	100% { -webkit-transform: translate(400px,-100px);} 
}

@keyframes rocket-movement { 
	100% { transform: translate(400px,-100px);} 
}

/* Cards */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
	background: #fff;
	border-radius: 1rem;
	box-shadow: 0 0 4px rgb(0 0 0 / 10%);
	padding: 1.5rem;
	margin: 20px 0;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: translateY(-8px);
	box-shadow: 0 0 12px rgb(0 0 0 / 30%);
}

.bien {
	border-left: 5px solid var(--green);
}

.pas-bien {
	border-left: 5px solid var(--red);
}

.modere {
	border-left: 5px solid var(--yellow);
}

.bloc-code {
	position: relative;
	background: var(--dark);
	padding: 0.75rem;
	border-radius: 0.5rem;
	margin: 1rem 0;
	overflow-x: auto;
}

.bloc-code .lang-label {
	position: absolute;
	top: 5px;
	left: 10px;
	color: var(--gray);
	font-size: 10px;
}

.bloc-code .lang-code {
	white-space: pre;
	color: var(--white);
}
