---
permalink: "projects/ebatisoft_en.html"
title: "Portfolio - EBatiSoft"
description: "EBatiSoft"
---
        <main>
            <div class="read-title">
                <h1>🖥️ EBatiSoft</h1>
                {% include "switcher_en.html" %}
            </div>
            <div class="video-wrapper">
                <video controls>
                    <track label="Français" kind="subtitles" srclang="fr" src="docs/public/EBatiSoft_FR.vtt">
                    <track label="English" kind="subtitles" srclang="en" src="docs/public/EBatiSoft_EN.vtt" default>
                    <source src="docs/public/EBatiSoft.mp4" type="video/mp4">
                </video>
            </div>
            <p><strong>DataViz platform developed over 1 year in a duo</strong> (with <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/pauleudeline">Paul EUDELINE</a>) on a permanent contract at <a target="_blank" rel="noopener" href="https://www.soft-concept.com/en">Soft Concept</a>, in collaboration with the French technical diagnostics company <a target="_blank" rel="noopener" href="https://chevalierdiag.fr">Chevalier Diag</a> and the real estate holding <a target="_blank" rel="noopener" href="https://www.groupe-baelen.fr/en/poles-akinext-pxl-38_70.html">Akinext</a></p>
            <h2>📝 Presentation</h2>
            <p>This software aims to simplify asbestos risk management in buildings, complying with current regulations. Designed for landlords, property managers, syndics and hotel chambers, it enables precise tracking and efficient management of property portfolios and asbestos technical files.</p>
            <h2>🛠️ Technologies used</h2>
            <ul>
                <li><strong>C#, HTML, CSS, JavaScript</strong></li>
                <li>
                    Internal tools:
                    {% include "soft-concept-tools_en.html" %}
                </li>
            </ul>
            <h2>🗂️ Application structure</h2>
            <ul>
                <li>🏠 <strong>Sites</strong>: clear organization of sites and their geographic locations for effective management</li>
                <li>🏢 <strong>Buildings</strong>: tracking building characteristics and documents</li>
                <li>⚙️ <strong>Equipment</strong>: inventory and technical follow-up of equipment by building</li>
                <li>📝 <strong>Audits</strong>: planning, execution and monitoring of compliance and safety audits</li>
                <li>📅 <strong>Deadlines</strong>: management of periodic controls and alerts for upcoming interventions</li>
                <li>📑 <strong>Asbestos Technical File (ATF)</strong>: management of asbestos diagnostics and risk zones</li>
                <li>📊 <strong>Statistics</strong>: dashboards and indicators for global activity monitoring</li>
                <li>📸 <strong>Photo library</strong>: storage and consultation of photos related to buildings and interventions</li>
            </ul>
            <h2>⚙️ Additional features</h2>
            <ul>
                <li>📑 Import and analysis of PDF reports</li>
                <li>🗺️ Site mapping (Leaflet, Google Maps)</li>
                <li>🔐 User rights and roles management</li>
                <li>🖼️ Image import for audits and follow-up actions</li>
                <li>🔍 Advanced filters: address, condition, work priority</li>
            </ul>
            <h2>📈 Usage</h2>
            <p>The application allows tracking and managing asbestos audits, planning work considering urgency and anticipating periodic controls and assessments. It facilitates information centralization to secure real estate assets while ensuring rigorous regulatory compliance.</p>
            <hr>
            <p>©Soft Concept 2022</p>
            <a id="index">Go back to the homepage</a>
        </main>
