---
permalink: "projects/panel_mnt_en.html"
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio - Panel MNT</title>
        {% include "metas.html" %}
        <meta name="description" content="Panel MNT">
        <meta http-equiv="Content-Language" content="en_US">
        {% include "poppins.html" %}
        <base href="../../">
        {% include "manifest.html" %}
        {% include "default.html" %}
    </head>
    <body onload="initArticle()" class="read-zone">
        <main>
            <div class="read-title">
                <h1>🖥️ Panel MNT</h1>
                {% include "switcher_en.html" %}
            </div>
            <div class="video-wrapper">
                <video controls>
                    <track label="Français" kind="subtitles" srclang="fr" src="docs/public/Panel_MNT_FR.vtt">
                    <track label="English" kind="subtitles" srclang="en" src="docs/public/Panel_MNT_EN.vtt" default>
                    <source src="docs/public/Panel_MNT.mp4" type="video/mp4">
                </video>
            </div>
            <p><strong>Panelist portal developed over 3 months</strong> for the French "Mutuelle Nationale Territoriale" (<a target="_blank" rel="noopener" href="https://www.mnt.fr">MNT</a>), on a permanent contract at <a target="_blank" rel="noopener" href="https://www.soft-concept.com/index-lang-en.html">Soft Concept</a></p>
            <h2>📝 Presentation</h2>
            <p>This application allows the members of the mutual to participate in thematic surveys and to earn rewards in the form of gift vouchers in exchange.</p>
            <h2>🛠️ Technologies used</h2>
            <ul>
                <li><strong>HTML, CSS, JavaScript</strong></li>
                <li>
                    Internal tools:
                    <ul>
                        <li><a target="_blank" rel="noopener" href="https://www.soft-concept.com/online-questionnaire-software-net-survey-en.html">Net-Survey</a>: questionnaire creation</li>
                        <li><a target="_blank" rel="noopener" href="https://www.soft-concept.com/ethnos-survey-data-analysis-reporting-software-en.html">Ethnos</a>: survey data analysis</li>
                        <li><a target="_blank" rel="noopener" href="https://www.soft-concept.com/web-reports-software-lang-en.html">Web Reports</a>: application development and deployment</li>
                        <li><a target="_blank" rel="noopener" href="https://www.soft-concept.com/panel-web-software-lang-en.html">Panel Manager</a>: survey management and panel monitoring</li>
                    </ul>
                </li>
            </ul>
            <h2>🗂️ Application structure</h2>
            <h3>👨‍💼 Back Office (Administrators)</h3>
            <ul>
                <li>👥 Panelist management</li>
                <li>📅 Survey creation and scheduling</li>
                <li>📂 Data archiving and download</li>
                <li>📥 Import of results in PDF format</li>
            </ul>
            <h3>👤 Panelist Area (Users)</h3>
            <ul>
                <li>🔑 Login to personal account</li>
                <li>📝 View and edit profile</li>
                <li>📊 Participate in surveys</li>
                <li>📜 Participation history</li>
                <li>📞 Support contact and account deletion</li>
            </ul>
            <h2>⚙️ Additional features</h2>
            <ul>
                <li>📣 Notification sending</li>
                <li>🎁 Viewing points and rewards</li>
                <li>❓ FAQ to assist panelists</li>
            </ul>
            <h2>📈 Usage</h2>
            <p>The application is used by MNT members to contribute to surveys on health, prevention and mutual services.
                On the MNT side, Panel Manager is a management and analysis tool designed to gather feedback and optimize its services.
                Members are rewarded for participating in monthly surveys through digital gift vouchers provided by <a target="_blank" rel="noopener" href="https://www.glady.com">Glady</a>.
            </p>
            <hr>
            <p>©Soft Concept 2023</p>
            <a id="index">Go back to the homepage</a>
        </main>
    </body>
</html>