---
permalink: "404.html"
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio - Page Not Found</title>
        {% include "metas.html" %}
        <meta name="description" content="Error 404">
        <meta http-equiv="Content-Language" content="en_US">
        {% include "poppins.html" %}
        <base href="/">
        {% include "manifest.html" %}
        {% include "default.html" %}
    </head>
    <body onload="initPage()">
        <main>
            <h1>Oops ! Page not found</h1>
            <p>It seems you've hit a broken link or the page has moved.</p>
            <img id="rocket" class="icon svg" alt="Rocket icon" width="58" height="42">
            <img id="earth" class="icon svg" alt="Earth icon" width="140" height="140">
            <img id="moon" class="icon svg" alt="Moon icon" width="92" height="92">
            <img id="astronaut" class="icon svg" alt="Astronaut icon" width="178" height="228">
            <a id="index">Go back to the homepage</a>
        </main>
    </body>
</html>