---
layout: "base.njk"
permalink: "policy_fr.html"
title: "Portfolio - Politique de confidentialité"
description: "Politique de confidentialité"
bodyClass: "legal text-center"
---
<h1>Politique de confidentialité</h1>
<i>Mis à jour le 7 décembre 2024</i>
{% include "dark-mode.html" %}
{% include "language-switcher.html" %}
<div>
    <h2>Quelles données sont collectées ?</h2>
    <p>Les données personnelles utilisées sont celles que l'utilisateur fournit explicitement dans le formulaire de contact : nom de l'expéditeur, objet du mail et contenu du message. Ces informations sont intégrées dans un email envoyé via l'API Gmail et ne sont pas conservées sur le serveur de l'application. Lors de la connexion via OAuth (authentification manuelle), votre adresse email est récupérée depuis votre compte Google. Aucune autre donnée personnelle ou sensible n'est collectée ou utilisée.</p>
    <h2>Comment les données sont utilisées ?</h2>
    <p>Les informations collectées (notamment votre adresse e-mail) sont utilisées exclusivement pour l'envoi du message via le formulaire de contact. Aucune autre utilisation n'est faite de ces données, sauf pour des fins techniques liées à l'envoi de l'email.</p>
    <h2>Comment les données sont stockées et sécurisées ?</h2>
    <p>L'adresse email est stockée de manière sécurisée, en conformité avec les normes de sécurité en vigueur, dans votre navigateur sous forme d'un token d'accès nécessaire pour interagir avec l'API Gmail. Ce token n'est accessible qu'aux personnes ou systèmes autorisés dans le cadre de l'envoi du message. Le transfert des données entre votre appareil et l'application se fait par connexion sécurisée (HTTPS).</p>
    <h2>Partage des données</h2>
    <p>Les informations collectées (notamment votre adresse e-mail) ne seront pas partagées, vendues ou utilisées à des fins commerciales.</p>
    <h2>Conservation et suppression des données</h2>
    <p>Nous conserverons vos renseignements personnels pendant la durée nécessaire pour atteindre les objectifs énoncés dans la présente politique de confidentialité, à moins qu'une période de conservation plus longue ne soit requise ou permise par la loi. Le token d'accès nécessaire à l'authentification via l'API Gmail est conservé de manière sécurisée et est automatiquement supprimé en cas d'erreur ou obsolète après une inactivité prolongée. Vous avez la possibilité de supprimer ces données manuellement en effaçant les cookies ou les données de votre navigateur. Par défaut, le token d'accès expire après 1 heure, conformément aux règles de Google. Aucune donnée n'est conservée une fois le message envoyé. Si vous rencontrez des erreurs répétées pour l'envoi du message, je vous suggère de rafraîchir la page ou d'ouvrir un nouvel onglet.</p>
    <i>Pour toute question relative à vos données personnelles, vous pouvez me contacter via le formulaire.</i>
</div>
<a id="index">Retour à l'accueil</a>
