---
base: "../../"
onload: "initPage()"
---
{%- set parts = page.fileSlug.split("_") -%}
{%- set suffix = parts[parts.length - 1] -%}
{%- set lang = suffix if suffix.length == 2 else languages.default -%}
<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <title>{{ title | safe }}</title>
        {% include "metas.html" %}
        <meta name="description" content="{{ description | safe }}">
        {%- if noindex %}
        <meta name="robots" content="noindex">
        {%- endif %}
        <meta http-equiv="Content-Language" content="{{ languages.locales[lang] }}">
        {% include "poppins.html" %}
        <base href="{{ base }}">
        {% include "manifest.html" %}
        {%- for partial in assets or ["default.html"] %}
        {% include partial %}
        {%- endfor %}
    </head>
    <body{% if scrollspy %} data-spy="scroll" data-target="#ftco-navbar" data-offset="300"{% endif %} onload="{{ onload }}"{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
        {{ content | safe }}
    </body>
</html>
