                <div class="bloc-code">
                    <span class="lang-label">SQL</span>
                    <span class="lang-code">
BEGIN TRANSACTION
    UPDATE accounts SET balance = balance - 100 WHERE id = 1
    UPDATE accounts SET balance = balance + 100 WHERE id = 2
COMMIT
-- Data committed but server crash before disk write
-- A mechanism like the Write-Ahead Log (WAL) is needed
-- Even if the machine crashes right after, the changes can be recovered on restart by replaying this log
                    </span>
                </div>
