                <div class="bloc-code">
                    <span class="lang-label">JavaScript</span>
                    <span class="lang-code">
console.log("Hello world");
console.log("Hello Jack");
console.log("Hello John");
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">Python</span>
                    <span class="lang-code">
print("Hello world")
print("Hello Jack")
print("Hello John")
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">C#</span>
                    <span class="lang-code">
Console.WriteLine("Hello world");
Console.WriteLine("Hello Jack");
Console.WriteLine("Hello John");
                    </span>
                </div>
