                <div class="bloc-code">
                    <span class="lang-label">JavaScript</span>
                    <span class="lang-code">
function getCustomerCity(order) {
    return order.getCustomerCity();
}
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">Python</span>
                    <span class="lang-code">
def get_customer_city(order):
    return order.get_customer_city()
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">C#</span>
                    <span class="lang-code">
string GetCustomerCity(Order order)
{
    return order.GetCustomerCity();
}
                    </span>
                </div>
