                <div class="bloc-code">
                    <span class="lang-label">JavaScript</span>
                    <span class="lang-code">
function calculatePrice(cart, customerType) {
    if (customerType === "pro") {
        return cart * 0.9;
    } else if (customerType === "vip") {
        return cart * 0.8;
    } else {
        return cart;
    }
}
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">Python</span>
                    <span class="lang-code">
def calculate_price(cart, customer_type):
    if customer_type == "pro":
        return cart * 0.9
    elif customer_type == "vip":
        return cart * 0.8
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">C#</span>
                    <span class="lang-code">
public static double CalculatePrice(double cart, string customerType)
{
    if (customerType == "pro")
    {
        return cart * 0.9;
    }
    else if (customerType == "vip")
    {
        return cart * 0.8;
    }
    else
    {
        return cart;
    }
}
                    </span>
                </div>
