                <div class="bloc-code">
                    <span class="lang-label">JavaScript</span>
                    <span class="lang-code">
function divideNumbers(dividend, divisor) {
    try {
            if (divisor === 0) {
                throw new Error("Division by zero is not allowed");
            }
            const result = dividend / divisor;
            return result;
    } catch (error) {
        return null;
    } finally {
        console.log("Request succeeded");
    }
}
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">Python</span>
                    <span class="lang-code">
def divide_numbers(dividend, divisor):
    try:
        if divisor == 0:
           raise ValueError("Division by zero is not allowed")
        result = dividend / divisor
        return result
    except ValueError as error:
        return None
    finally:
        print("Request succeeded")
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">C#</span>
                    <span class="lang-code">
static double DivideNumbers(double dividend, double divisor)
{
    try
    {
        if (divisor == 0)
        {
        throw new ArgumentException("Division by zero is not allowed");
        }
        double result = dividend / divisor;
        return result;
    }
    catch (ArgumentException error)
    {
        return double.NaN;
    }
    finally
    {
        Console.WriteLine("Request succeeded");
    }
}
                    </span>
                </div>
