                <div class="bloc-code">
                    <span class="lang-label">JavaScript</span>
                    <span class="lang-code">
function processUserData() {
    // Read the data
    // Validate the data
    // Compute stuff
    // Generate a report
    // Send an email
    ...
}
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">Python</span>
                    <span class="lang-code">
def process_user_data():
    # Read the data
    # Validate the data
    # Compute stuff
    # Generate a report
    # Send an email
    ...
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">C#</span>
                    <span class="lang-code">
public void ProcessUserData() {
    // Read the data
    // Validate the data
    // Compute stuff
    // Generate a report
    // Send an email
    ...
}
                    </span>
                </div>
