                <div class="bloc-code">
                    <span class="lang-label">JavaScript</span>
                    <span class="lang-code">
let ThirtyOne = 31;
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">Python</span>
                    <span class="lang-code">
ThirtyOne = 31
                    </span>
                </div>
                <div class="bloc-code">
                    <span class="lang-label">C#</span>
                    <span class="lang-code">
using System;
class Program
{
    static void Main()
    {
        int ThirtyOne = 31;
    }
}
                    </span>
                </div>
