{%- set lang = page.fileSlug.slice(-2) -%}
{%- set contactTitle = { en: "Contact me", fr: "Me contacter" } -%}
<div id="contact-icon" class="open-mfp d-flex justify-content-center text-white" data-target="#contact-window">
    <span class="icon-user"></span>
</div>
<div id="contact-window" class="mfp flex-column bg-white" hidden>
    <div id="contact-header" class="d-flex align-items-center justify-content-between text-white">
        <h6>{{ contactTitle[lang] }}</h6>
        <span class="mfp-close">×</span>
    </div>
    {% set socialVariant = "contact" %}{% include "social-links.html" %}
</div>
