{%- set parts = page.fileSlug.split("_") -%}
{%- set suffix = parts[parts.length - 1] -%}
{%- set lang = suffix if suffix.length == 2 else siteLanguages.default -%}
{%- if assets %}
<button id="dark-icon" type="button" class="icon-sun-o" data-icon-mode="font" onclick="toggleDarkMode(event)" aria-label="{{ nav[lang].darkMode }}"></button>
{%- else %}
<button id="dark-icon" type="button" data-icon-mode="emoji" onclick="toggleDarkMode(event)" aria-label="{{ nav[lang].darkMode }}">&#9728;&#65039;</button>
{%- endif %}
