{%- set footerLang = footer[lang] -%}
{%- set snykUrl = "https://snyk.io" + ("/" + lang if lang != "en") -%}
{%- set copyrightLang = footer.copyright[lang] -%}
<div class="container">
    {%- if synopsis %}
    <div class="row mb-5">
        <div class="col-md-8">
            <div class="ftco-footer-widget mb-4">
                <h4 class="font-weight-bold">Synopsis</h4>
                <p>{{ footerLang.synopsis }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
                <h4 class="font-weight-bold">{{ footerLang.question }}</h4>
                <div class="icon-list mb-3">
                    <ul>
                        <li><span class="icon-envelope"></span>&nbsp;&nbsp;<span class="text email"></span></li>
                    </ul>
                </div>
                <ul class="ftco-footer-links list-unstyled float-md-left float-lft">
                    {%- for s in socials %}
                    <li class="ftco-animate">
                        <a target="_blank" rel="noopener" href="{{ s.href }}" aria-label="{{ s.label }}"><span class="icon-{{ s.icon }}"></span></a>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
        </div>
    </div>
    {%- endif %}
    {%- if bingo %}
    <div class="row mb-5">
        <div class="col-md-12 text-center">
            <div class="ftco-footer-widget mb-4">
                <h4 class="font-weight-bold">{{ footerLang.bingoTitle }}</h4>
                <div class="icon-list mb-3 d-flex flex-column align-items-center">
                    <p>{{ footerLang.bingoText }}</p>
                    <div id="bingo-timer">0</div>
                    <div id="bingo-btn" class="text-white" data-stop="{{ footerLang.bingoStop }}">{{ footerLang.bingoButton }}</div>
                </div>
            </div>
        </div>
    </div>
    {%- endif %}
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="legal">Copyright &copy;<i id="year"></i> {{ copyrightLang.rights }} | {{ copyrightLang.made }} {% if assets %}<i class="icon-heart" aria-hidden="true"></i>{% else %}<span aria-hidden="true">&#10084;&#65039;</span>{% endif %} {{ copyrightLang.by }} <a target="_blank" rel="noopener" href="https://colorlib.com">Colorlib</a> {{ copyrightLang.and }} {% if assets %}<i class="icon-shield" aria-hidden="true"></i>{% else %}<span class="shield-emoji" aria-hidden="true">&#128737;&#65039;</span>{% endif %} {{ copyrightLang.with }} <a target="_blank" rel="noopener" href="{{ snykUrl }}">Snyk</a></p>
            <p class="legal"><a id="policy"><i>{{ copyrightLang.policy }}</i></a> | <a id="terms"><i>{{ copyrightLang.terms }}</i></a></p>
        </div>
    </div>
</div>
