{%- set footerText = {
    en: { synopsis: "Far far away, beyond the mountains of code, far from the lands of outdated designs and clunky interfaces, there lives the web developer. Crafting seamless user experiences, building responsive websites and breathing life into lines of code, the engineer turns ideas into digital reality.", question: "Have a question ?", bingoTitle: "A bingo ?", bingoText: "If you come across number 2713, you've won !", bingoButton: "Play" },
    fr: { synopsis: "Loin, très loin, au-delà des montagnes de code, loin des terres de designs dépassés et d’interfaces obsolètes, ici gît le développeur web. Visant des expériences utilisateurs fluides, construisant des sites web adaptatifs et insufflant la vie à des lignes de code, l'ingénieur transforme les idées en réalité numérique.", question: "Une question ?", bingoTitle: "Un bingo ?", bingoText: "Si tu tombes sur le numéro 2713, tu as gagné !", bingoButton: "Jouer" }
} -%}
{%- set ft = footerText[lang] -%}
{%- set snykUrl = "https://snyk.io" + ("/" + lang if lang != "en") -%}
{%- set copyrightText = {
    en: { rights: "All rights reserved", made: "This site is made with", by: "by", and: "and", with: "with", policy: "Privacy policy", terms: "Terms of use" },
    fr: { rights: "Tous droits réservés", made: "Ce site est fait avec", by: "par", and: "et", with: "avec", policy: "Politique de confidentialité", terms: "Conditions d'utilisation" }
} -%}
{%- set ct = copyrightText[lang] -%}
<div class="container">
    {%- if synopsis %}
    <div class="row mb-5">
        <div class="col-md-8">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Synopsis</h2>
                <p>{{ ft.synopsis }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">{{ ft.question }}</h2>
                <div class="block-23 mb-3">
                    <ul>
                        <li><span class="icon-envelope"></span>&nbsp;&nbsp;<span class="text email"></span></li>
                    </ul>
                </div>
                <ul class="ftco-footer-links list-unstyled float-md-left float-lft">
                    {%- for s in socials %}
                    <li class="ftco-animate">
                        <a target="_blank" rel="noopener" href="{{ s.href }}" aria-label="{{ s.label }}"><span class="icon-{{ s.icon }}"></span></a>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
        </div>
    </div>
    {%- endif %}
    {%- if bingo %}
    <div class="row mb-5">
        <div class="col-md-12 text-center">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">{{ ft.bingoTitle }}</h2>
                <div class="block-23 mb-3 d-flex flex-column align-items-center">
                    <p>{{ ft.bingoText }}</p>
                    <div id="bingo-timer">0</div>
                    <div id="bingo-btn" class="text-white">{{ ft.bingoButton }}</div>
                </div>
            </div>
        </div>
    </div>
    {%- endif %}
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Copyright &copy;<i id="year"></i> {{ ct.rights }} | {{ ct.made }} <i class="icon-heart" aria-hidden="true"></i> {{ ct.by }} <a target="_blank" rel="noopener" href="https://colorlib.com">Colorlib</a> {{ ct.and }} <i class="icon-shield" aria-hidden="true"></i> {{ ct.with }} <a target="_blank" rel="noopener" href="{{ snykUrl }}">Snyk</a></p>
            <p><a id="policy"><i>{{ ct.policy }}</i></a> | <a id="terms"><i>{{ ct.terms }}</i></a></p>
        </div>
    </div>
</div>
