<script defer src="js/jquery.min.js"></script>
<script defer src="js/jquery-migrate.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.easing.min.js"></script>
<script defer src="js/jquery.waypoints.min.js"></script>
<script defer src="js/jquery.stellar.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/scrollax.min.js"></script>
<script defer src="js/i18next.min.js"></script>
<!-- Not vendored: live SaaS embed tied to Calendly's booking backend, unlike the static libs above -->
<script defer src="https://assets.calendly.com/assets/external/widget.js"></script>
<script defer src="js/common.js"></script>
<script defer src="js/main.js"></script>
