{%- set lang = page.fileSlug.slice(-2) -%}
{%- set navLang = nav[lang] -%}
<div class="container">
    <a id="index" class="navbar-brand"><span>P</span>ortfolio<sup id="version-badge" class="d-none d-lg-inline">{{ version }}</sup></a>
    {% include "dark-mode.html" %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="{{ navLang.navigation }}"><span class="icon-menu"></span> Menu</button>
    <div id="ftco-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav nav ml-auto">
            {%- for item in nav.menus %}
            <li class="nav-item"><a class="nav-link"><span>{{ item[lang] }}</span></a></li>
            {%- endfor %}
        </ul>
    </div>
    {% include "language-switcher.html" %}
</div>
