<a id="index" class="navbar-brand"><span>P</span>ortfolio<sup id="version-badge" class="d-none d-lg-inline"><i class="icon-history"></i></sup></a>
<button id="dark-icon" type="button" class="icon-sun-o" onclick="toggleDarkMode(event)" aria-label="Toggle dark mode"></button>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"><span class="icon-menu"></span> Menu</button>
<div class="collapse navbar-collapse" id="ftco-nav">
    <ul class="navbar-nav nav ml-auto">
        <li class="nav-item"><a class="nav-link"><span>Accueil</span></a></li>
        <li class="nav-item"><a class="nav-link"><span>À propos</span></a></li>
        <li class="nav-item"><a class="nav-link"><span>Résumé</span></a></li>
        <li class="nav-item"><a class="nav-link"><span>Services</span></a></li>
        <li class="nav-item"><a class="nav-link"><span>Projets</span></a></li>
        <li class="nav-item"><a class="nav-link"><span>Blog</span></a></li>
        <li class="nav-item"><a class="nav-link"><span>Contact</span></a></li>
    </ul>
</div>