<section class="ftco-section ftco-partner d-none d-sm-flex">
    <div class="container">
        <div class="row">
            <div class="col-sm ftco-animate">
                <a class="partner" target="_blank" rel="noopener" href="https://www.microsoft.com"><img src="images/partner-1.png" width="1000" height="406" class="img-fluid" alt="Microsoft" loading="lazy"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a class="partner" target="_blank" rel="noopener" href="https://www.android.com"><img src="images/partner-2.png" width="1000" height="406" class="img-fluid" alt="Android" loading="lazy"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a class="partner" target="_blank" rel="noopener" href="https://www.java.com"><img src="images/partner-3.png" width="1000" height="406" class="img-fluid" alt="Java" loading="lazy"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a class="partner" target="_blank" rel="noopener" href="https://www.google.com"><img src="images/partner-4.png" width="1000" height="406" class="img-fluid" alt="Google" loading="lazy"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a class="partner" target="_blank" rel="noopener" href="https://www.adobe.com"><img src="images/partner-5.png" width="1000" height="406" class="img-fluid" alt="Adobe" loading="lazy"></a>
            </div>
        </div>
    </div>
</section>