{%- set lang = page.fileSlug.slice(-2) -%}
{%- set urlPrefix = "https://www.soft-concept.com/" + (lang + "/" if lang != "fr") -%}
{%- set separator = " : " if lang == "fr" else ": " -%}
<ul>
    {%- for tool in tools %}
    <li><a target="_blank" rel="noopener" href="{{ urlPrefix }}{{ tool.slug }}">{{ tool.name }}</a>{{ separator }}{{ tool[lang] }}</li>
    {%- endfor %}
    {%- if extraTool %}
    <li><a target="_blank" rel="noopener" href="{{ urlPrefix }}{{ extraTool.slug }}">{{ extraTool.name }}</a>{{ separator }}{{ extraTool.desc }}</li>
    {%- endif %}
</ul>
